*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: white;
    height: 70px;
    padding: 0px 60px 0px;
    margin-left: 100px;
    margin-right: 100px;
}

.logo{
    font-size: 24px;
}

ul{
    display: flex;
    gap:20px;
    list-style-type: none;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px 30px;
    background-color: #1f2937;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    
}
.div-titulo{
    font-display: flex;
    width: 50%;
}

.div-imagem{
    margin-left: 30px;
    height: auto;
    min-width: 100px;


}

.div-imagem img{
    
    background-color: blue;
    border-radius: 10px;
    width: 500px;
    
    
}

.div-titulo button{
    margin-top: 10px;
}
button{
    color: white;
    background-color: #3882F6;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    border: none;
    cursor:pointer
}
.hero p{
    font-size: 18px;
}

h1{
    font-size: 41px;
    font-weight: 900;
    margin-bottom: 30px;
}

.section-card{
    text-align: center;
    margin-top: 30px;
    padding: 60px;
    
}

.container-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: auto;
}

.card{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 10px; align-items: center;
    
}

.foto-card{
    width: 130px;
    height: 130px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    
}

blockquote{
    display: flex;
    flex-direction: column;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    background-color: #E5E7EB;
    padding: 70px;
     margin-left: 100px;
    margin-right: 100px;
}

blockquote cite{
    font-weight: 400;
    margin-left: auto;
}

.banner{
    width: 800px;
    height: 150px;
    display: flex;
    background-color: #3882F6;
    margin: auto;
    margin-top: 60px;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
}

.banner button{
    border:3px solid white;
}

footer{
    display: flex;
    background-color: #1F2937;
    margin-top: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    color: white;
}